body {
    font-family: 'Montserrat', sans-serif !important;
}

ul {
  list-style-type: none;
}

/*div {
  border: 1px solid blue !important;
} */

a {
  color: #E83C2F !important;
  text-decoration: none !important;
}

a:hover {
    color: #E83C2F;
}

a:visited {
    color: #E83C2F;
}

a:active {
    color: #E83C2F;
}

#negro {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 2;
  display: none;
}

/* ------------------------------------ TOP ------------------------------------------ */

#super {
  width: 100%;
  height: 23vh;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
}

#idioma {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: right;
}

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
  #idioma {
  font-size: .9em;
}
}

#redes {
  font-size: 1.1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #redes {
  font-size: 1em;
}
}


.logoimg {
  padding: 0;
  margin: 0;
}

/* ---------------------------------- LOGO -------------------------------------------- */

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
#completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,31vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,31vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-4vh) scale(.5); opacity: 100%;}
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,20vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,20vh) scale(.55); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-17vh) scale(.35); opacity: 100%;}
}
}

                /* ----------------- medium mobile ----------------- */

@media only screen and (min-width: 40.063em) and (max-width: 47.938em) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,25vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,25vh) scale(.8); opacity: 100%;}
  100% {-webkit-transform: translate(0vw, -15vh) scale(.4); opacity: 100%;}
}
}

                /* ----------------- medium tablet ----------------- */

@media only screen and (min-width: 48em) and (max-width: 64em) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,35vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,35vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw, -5vh) scale(.5); opacity: 100%;}
}
}

                /* ----------------- large ----------------- */

@media only screen and (min-width: 64.063em) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,35vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,35vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw, -4vh) scale(.5); opacity: 100%;}
}
}

/* ------------------------------------- MENU HORIZONTAL ------------------------------------------*/

#menu {
  background-color: rgba(0, 0, 0, .8);
}

.menu-item {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  height: 50px;
}

.menu-item-small {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  height: 40px;
}

                /* ----------------- MH small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 0vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 10vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 10vh) scale(1); opacity: 100%;}
}
}

                /* ----------------- MH small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  position: absolute;
  z-index: 11;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 4vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 4vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 4vh) scale(1); opacity: 100%;}
}
}

                /* ----------------- MH medium ----------------- */

@media only screen and (min-width: 40.063em) {
  #menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.4em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 19vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 100%;}
}
} 

                /* ----------------- MH large ----------------- */

@media only screen and (min-width: 64.063em) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.8em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 19vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 100%;}
}
} 

/* ------------------------------------- MAIN ------------------------------------------*/

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  color: #ffffff;
  font-weight: 400;
  -webkit-animation-delay: 3.2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-8vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 100%;}
}

#main h1 {
  font-size: 1em !important;
  font-weight: 700;
  color: #ffffff;
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  color: #ffffff;
  font-weight: 400;
  -webkit-animation-delay: 3.2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,vh) scale(1); opacity: 100%;}
}

#main h1 {
  font-size: 1em !important;
  font-weight: 700;
  color: #ffffff;
}
}

                /* ----------------- medium mobile ----------------- */

@media only screen and (min-width: 40.063em) and (max-width: 47.063em) {
  #main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  -webkit-animation-delay: 3.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-3vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-3vh) scale(.5); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-3vh) scale(.5); opacity: 100%;}
}
}

                /* ----------------- medium tablet ----------------- */

@media only screen and (min-width: 48em) and (max-width: 64em) {
  #main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  -webkit-animation-delay: 3.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-8vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 100%;}
}
}


                /* ----------------- large ----------------- */

@media only screen and (min-width:64.063em) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  -webkit-animation-delay: 3.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-18vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-18vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-18vh) scale(1); opacity: 100%;}
}
}

#main h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
}

#main p {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 400;
}

/* ------------------------------ MENU VERTICAL ----------------------------- */

#side {
  height: 100%;
  display:none;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  z-index: 99;
}

#side ul {
  padding-top: 25vh;
}

#side li {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.side-nav {
  font-size: 1.8em;
  top: 0;
  bottom: 0;
  
}

.side-item {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5em;
  height: 15vh;
}

/* ------------------------------ CONTENIDO ----------------------------- */

#principal {
  height: 100%;
  width: 100%;
  padding: 20vh 0 0 0;
  background-image: url(../background4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

                 /* ----------------- nosotros ----------------- */

#nosbg {
  height: 100%;
  width: 100%;
  background-image: url(../img/zocalo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  z-index: 1;
}

#nosotros {
  height: 100%;
  padding: 23vh 25vh 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;  
}

#nosotros img {
  width: 70%;
 display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;}

#somos {
   display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

}

@media only screen and (min-width: 40.63em) and (max-width: 47.938em) {
  #nosotros {
  height: 100%;
  padding: 23vh 5vh 0 20vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
  }
  #nosotros img {width: 60%;}
}

@media only screen and (min-width: 48em) and (max-width: 61.063em) {
  #nosotros {
  height: 100%;
  padding: 23vh 5vh 0 8vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
  }
}

#nosotros p {
  font-size: .9em;
  text-align: left;
}

#nosotros h1 {
  color: #E83C2F;
  font-size: 2em;
}

#nosotros-small {
  height: 100%;
  background-image: url(../img/zocalo1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin: 0;
}

#nosotros-small img {
  width: 50%;
}

#nosotros-small h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#nosotros-small h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#nosotros-small p {
  font-size: .8em;
  color: #FFFFFF;
}

                /* ----------------- servicios ----------------- */

#serbg {
  height: 100%;
  width: 100%;
  background-image: url(../img/caballito.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  z-index: 1;
}                

#servicios {
  height: 100%;
  padding: 23vh 25vh 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
}

@media only screen and (min-width: 40.063em) and (max-width: 47.938em) {
  #servicios {
  height: 100%;
  padding: 23vh 5vh 0 20vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
  }

  #servicios img {
    width: 85%;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 48em) and (max-width: 61.063em) {
  #servicios {
  height: 100%;
  padding: 23vh 5vh 0 15vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
  }
}

#servicios p {
  font-size: .9em;
  text-align: left;
}

#servicios h1 {
  color: #E83C2F;
  font-size: 2em;
}

#servicios h2 {
  color: #DAA1A1;
  font-size: 1.2em;
}

#contexto {
  text-align: left;
}

#contexto img {
  vertical-align: center;
}

#personalidad {
  text-align: right;
}

#personalidad img {
  vertical-align: center;
}

#ruta {
 text-align: left;
 }

 #servicios-small {
  height: 100%;
  background-image: url(../img/caballito1.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin: 0;
}

#servicios-small img {
  width: 80%;
}

#servicios-small h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#servicios-small h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#servicios-small h3 {
  font-size: 1em;
  color: #E83C2F;
}

#servicios-small p {
  font-size: .8em;
  color: #FFFFFF;
  display: inline-block;
}

                /* ----------------- comunidad ----------------- */

#combg {
  height: 100%;
  width: 100%;
  background-image: url(../img/polanco.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  z-index: 1;

}

#comunidad {
  height: 100%;
  padding: 23vh 25vh 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
}

#comunidad h1 {
  color: #E83C2F;
  font-size: 2em;
  text-align: center;
}

#comunidad h2 {
  color: #ffffff;
  font-size: 1.2em;
}

@media only screen and (min-width: 40.063em) and (max-width: 47.938em) {
  #comunidad{
  height: 100%;
  padding: 23vh 5vh 0 22vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
  }

  #comunidad img {
    width: 80%;
  }

  #comunidad h1 {
    font-size: 1.5em;
    text-align: right;
  }
}

@media only screen and (min-width: 48em) and (max-width: 61.063em) {
  #comunidad{
  height: 100%;
  padding: 23vh 5vh 0 15vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
  }
}

#comunidad-small {
  height: 100%;
  background-image: url(../img/polanco1.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin: 0;
}

#comunidad-small img {
  width: 60%;
}

#comunidad-small h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#comunidad-small h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#comunidad-small h3 {
  font-size: 1em;
  color: #FFFFFF;
}

                /* ----------------- contacto ----------------- */

#conbg {
  height: 100%;
  width: 100%;
  background-image: url(../img/angel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  display: none;
  z-index: 1;
}                

#contacto {
  height: 100%;
  padding: 23vh 25vh 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
  z-index: 3;
}

@media only screen and (min-width: 48em) and (max-width: 61.063em) {
  #contacto {
  height: 100%;
  padding: 23vh 5vh 0 20vh;
  margin: 0;

  color: #FFFFFF;
  z-index: 3;
  }
}

#contacto h1 {
  color: #E83C2F;
}

#contacto-small {
  height: 100%;
  background-image: url(../img/angel1.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  padding: 0;
  margin: 0;
}

#contacto-small img {
  width: 60%;
}

#contacto-small h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#contacto-small h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#contacto-small h3 {
  font-size: 1em;
  
}

/* ----------------------------- FOOTER SECCIONES ------------------------------ */

#footer {
  height: 4vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #333333;

}

#footer i {
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}
