body {
    font-family: 'Montserrat', sans-serif !important;
}

ul {
  list-style-type: none;
}

/*div {
  border: 1px solid blue !important;
}*/

a {
  color: #E83C2F !important;
  text-decoration: none !important;
}

a:hover {
    color: #E83C2F;
}

a:visited {
    color: #E83C2F;
}

a:active {
    color: #E83C2F;
}

#negro {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 2;
}

/* ------------------------------------ TOP ------------------------------------------ */

#super {
  width: 100%;
  height: 23vh;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
}

#idioma {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: right;
}

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
  #idioma {
  font-size: .9em;
}
}

#redes {
  font-size: 1.1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #redes {
  font-size: 1em;
}
}


.logoimg {
  padding: 0;
  margin: 0;
}

/* ---------------------------------- LOGO -------------------------------------------- */

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
#completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,31vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,31vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-4vh) scale(.5); opacity: 100%;}
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,20vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,20vh) scale(.55); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-17vh) scale(.35); opacity: 100%;}
}
}

                /* ----------------- medium ----------------- */

@media only screen and (min-width: 40.063em) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,35vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,35vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw, -5vh) scale(.5); opacity: 100%;}
}
}

                /* ----------------- large ----------------- */

@media only screen and (min-width: 64.063em) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,35vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,35vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw, -4vh) scale(.5); opacity: 100%;}
}
}

/* ------------------------------------- MAIN ------------------------------------------*/

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  color: #ffffff;
  font-weight: 400;
  -webkit-animation-delay: 3.2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-8vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 100%;}
}

#main h1 {
  font-size: 1em !important;
  font-weight: 700;
  color: #ffffff;
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  color: #ffffff;
  font-weight: 400;
  -webkit-animation-delay: 3.2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,vh) scale(1); opacity: 100%;}
}

#main h1 {
  font-size: 1em !important;
  font-weight: 700;
  color: #ffffff;
}
}

                /* ----------------- medium ----------------- */

@media only screen and (min-width: 40.063em) {
  #main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  -webkit-animation-delay: 3.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-8vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-8vh) scale(1); opacity: 100%;}
}
}


                /* ----------------- large ----------------- */

@media only screen and (min-width:64.063em) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  -webkit-animation-delay: 3.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-18vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-18vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-18vh) scale(1); opacity: 100%;}
}
}

#main h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
}

#main p {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 400;
}


/* ------------------------------------- MENU HORIZONTAL ------------------------------------------*/

#menu {
  background-color: rgba(0, 0, 0, .8);
}

.menu-item {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  height: 40px;
}

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 0vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 10vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 10vh) scale(1); opacity: 100%;}
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  position: absolute;
  z-index: 11;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 4vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 4vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 4vh) scale(1); opacity: 100%;}
}
}

                /* ----------------- medium ----------------- */

@media only screen and (min-width: 40.063em) {
  #menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.4em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 19vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 100%;}
}
} 


                /* ----------------- large ----------------- */

@media only screen and (min-width: 64.063em) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.8em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 19vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 100%;}
}
} 

/* ------------------------------ MENU VERTICAL ----------------------------- */

#side {
  height: 100%;
  display:none;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  z-index: 99;
}

#side ul {
  padding-top: 25vh;
}

#side li {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.side-nav {
  font-size: 1.8em;
  top: 0;
  bottom: 0;
  
}

.side-item {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5em;
  height: 15vh;
}

#negro {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

/* ------------------------------ CONTENIDO ----------------------------- */

#principal {
  height: 100%;
  width: 100%;
  padding: 20vh 0 0 0;
  background-image: url(../background4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


                /* ----------------- nosotros ----------------- */

#nosotros {
  height: 100%;
  background-image: url(../img/zocalo1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin: 0;
}

#nosotros img {
  width: 50%;
}

#nosotros h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#nosotros h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#nosotros p {
  font-size: .8em;
  color: #FFFFFF;
}

                /* ----------------- servicios ----------------- */
#servicios {
  height: 100%;
  background-image: url(../img/caballito1.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin: 0;
}

#servicios img {
  width: 80%;
}

#servicios h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#servicios h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#servicios h3 {
  font-size: 1em;
  color: #E83C2F;
}

#servicios p {
  font-size: .8em;
  color: #FFFFFF;
  display: inline-block;
}


                /* ----------------- comunidad ----------------- */
#comunidad {
  height: 100%;
  background-image: url(../img/polanco1.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin: 0;
}

#comunidad img {
  width: 60%;
}

#comunidad h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#comunidad h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#comunidad h3 {
  font-size: 1em;
  color: #FFFFFF;
}

                /* ----------------- contacto ----------------- */

#contacto {
  height: 100%;
  background-image: url(../img/angel1.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  padding: 0;
  margin: 0;
}

#contacto img {
  width: 60%;
}

#contacto h1 {
  font-size: 2.3em;
  color: #E83C2F;
}

#contacto h2 {
  font-size: 1.5em;
  color: #E83C2F;
}

#contacto h3 {
  font-size: 1em;
  
}

#footer {
  height: 4vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #333333;

}

#footer i {
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}