body {
    font-family: 'Montserrat', sans-serif !important;
}

.bg1 {
    background-image: url(../background4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(../zocalo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url(../background4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4 {
    background-image: url(../background4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* div {
  border: 1px solid blue !important;
} */

a {
  color: #E83C2F !important;
  text-decoration: none !important;
}

a:hover {
    color: #E83C2F;
}

a:visited {
    color: #E83C2F;
}

a:active {
    color: #E83C2F;
}

/* ------------------------------------ TOP ------------------------------------------ */

#super {
  width: 100%;
  padding: 0;
  margin: 0;
}

#idioma {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: right;
}

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
  #idioma {
  font-size: .9em;
}
}

#redes {
  font-size: 1.1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #redes {
  font-size: 1em;
}
}

#logo { 
  background-color: rgba(0, 0, 0, .8);
}

.logoimg {
  padding: 0;
  margin: 0;
}

/* ---------------------------------- LOGO -------------------------------------------- */

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
#completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,31vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,31vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-4vh) scale(.5); opacity: 100%;}
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,25vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,25vh) scale(.55); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-12vh) scale(.35); opacity: 100%;}
}
}

                /* ----------------- large ----------------- */

@media only screen and (min-width: 64.063em) {
  #completo { 
  -webkit-animation-duration: 2.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo {
  0% {-webkit-transform: translate(0vw,35vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,35vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw, -4vh) scale(.5); opacity: 100%;}
}
}

/* ------------------------------------- MAIN ------------------------------------------*/

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  color: #ffffff;
  font-weight: 400;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: contexto;
}
@-webkit-keyframes contexto
{
  0% {opacity: 0%;}
  50% {opacity: 50%;}
  100% { opacity: 100%;}
}

#main h1 {
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) {
#main { 
  position:absolute;
  left:0px;
  bottom:-10px;
  width:100%;
  color: #ffffff;
  font-weight: 400;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: contexto;
}
@-webkit-keyframes contexto
{
  0% {opacity: 0%;}
  50% {opacity: 50%;}
  100% { opacity: 100%;}
}

#main p {
  font-size: .8em;
}

#main h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
}
}

                /* ----------------- large ----------------- */

@media only screen and (min-width:64.063em) {
#main { 
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  -webkit-animation-delay: 3.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: main;
}
@-webkit-keyframes main
{
  0% {-webkit-transform: translate(0vw,-18vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-18vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-18vh) scale(1); opacity: 100%;}
}
}

#main h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
}

#main p {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 400;
}


/* ------------------------------------- MENU HORIZONTAL ------------------------------------------*/

#menu {
  background-color: rgba(0, 0, 0, .8);
}

.menu-item {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  height: 50px;
}

                /* ----------------- small portrait ----------------- */

@media only screen and (max-width: 40em) and (orientation: portrait) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 0vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 10vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 10vh) scale(1); opacity: 100%;}
}
}

                /* ----------------- small landscape ----------------- */

@media only screen and (max-width: 40em) and (orientation: landscape) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 0vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, -18vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, -18vh) scale(1); opacity: 100%;}
}
}


                /* ----------------- large ----------------- */

@media only screen and (min-width: 64.063em) { 
#menu {
  padding: 0;
  list-style-type: none;
  font-size: 1.8em;
  -webkit-animation-delay: 2.8s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw, 19vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw, 19vh) scale(1); opacity: 100%;}
}
} 

/* ------------------------------ MENU VERTICAL ----------------------------- */

#side {
  display:none;
}

#side ul {
  padding-top: 25vh;
}

#side li {
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.side-nav {
  background-color: rgba(0, 0, 0, .8);
  font-size: 1.8em;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.side-item {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5em;
  height: 15vh;

}

/* ------------------------------ CONTENIDO ----------------------------- */


                /* ----------------- nosotros ----------------- */

#nosotros {
  height: 100%;
  padding: 0 15vh 0 15vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
}

#nosotros h1 {
  color: #E83C2F;
}

                /* ----------------- servicios ----------------- */

#servicios {
  height: 100%;
  padding: 0 25vh 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
}

#servicios h1 {
  color: #E83C2F;
}

                /* ----------------- comunidad ----------------- */

#comunidad {
  height: 100%;
  padding: 0 0 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
}

#comunidad h1 {
  color: #E83C2F;
}

                /* ----------------- contacto ----------------- */

#contacto {
  height: 100%;
  padding: 0 15vh 0 25vh;
  margin: 0;
  display: none;
  color: #FFFFFF;
}

#contacto h1 {
  color: #E83C2F;
}