/* ------------------------------- PUSH MENU ------------------------------------- */

.pushmenu { /*this is the nav*/
  background: #B6BAC7;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 7;
  position:fixed;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  padding: 14px;
}

.pushmenu a:hover {
  background:#575a5f;
}

.pushmenu a:active {
  background: #575a5f;
}

.pushmenu-left {
  left: -300px;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 300px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

#nav_list {
  background: url(menu.svg) no-repeat left top;
  cursor: pointer;
  height: 27px;
  width: 33px;
  text-indent: -99999em;
}

nav-list.active {
  background-position: -33px top;
}

 .buttonset {
      height: 1vh;
      padding: 0px 20px 20px;
 }
 
 section.content {
   padding: 10px 20px;
 }

/* ----------------------------------------------------------------------------------------------- */

#main {
  height: 100%;
  width: 100%;
  background: url(background2.jpg);
  background-position: center;
  background-size: cover;
}

#main-menu {
  position: relative;
  z-index: 8;
}

#super {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  display: inline-block;
  vertical-align: sub;
  padding: 0;
  margin: 0;
}

.fondo
{
  background-color: #575a5f;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 6;
  top: 0; bottom: 0;
  left:0; right: 0;
  opacity: 0.6;
  -webkit-animation-delay: 7s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: cortina;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: cortina;
 }

/* 1 */

@media only screen and (max-height: 640px) {
  @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -76vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -76vh);}
}
}

/* 2 */
@media only screen and (max-height: 320px) and (max-height: 650px) {
  @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -78vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -78vh);}
}
}

/* 3 */
@media only screen and (min-height: 651px) and (max-height: 800px) {
  @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -86vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -86vh);}
}
}

/* 4 */
@media only screen and (min-height: 801px) and (max-height: 950px) {
    @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -86vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -86vh);}
}
}

/* 5 */
@media only screen and (min-height: 951px) and (max-height: 1100px) {
      @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -88.5vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -88.5vh);}
}
}

/* 6 */
@media only screen and (min-height: 1101px) and (max-height: 1350px) {
      @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -90.5vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -90.5vh);}
}
}

/* 7 */
@media only screen and (min-height: 1351px) and (max-height: 1500px) {
      @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -92.5vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -92.5vh);}
}
}

/* 8 */
@media only screen and (min-height: 1501px) {
      @-webkit-keyframes cortina
{
  0% {-webkit-transform: translate(0vh, 0vh);}
  50% {-webkit-transform: translate(0vw, 0vh);}
  100% {-webkit-transform: translate(0vw, -92.5vh);}
  0% {transform: translate(0vh, 0vh);}
  50% {transform: translate(0vw, 0vh);}
  100% {transform: translate(0vw, -92.5vh);}
}
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

/*div {
  border: 1px solid green !important;
}*/

#idioma {
  display: inline-block;
  vertical-align: sub;
  padding: 0;
  margin: 0;
}

#idioma a {
  vertical-align: sub;
}

/* small */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  #idioma {
    height: 6vh;
    font-size: .7em;
  }
  #logo {
    top: 6vh; bottom: 0;
    left:0; right: 0;
  }
}

@media only screen and (max-width: 40em) and (orientation: landscape) {
  #idioma {
    height: 11vh;
    font-size: .6em;
  }
  #logo {
    top: 11vh; bottom: 0;
    left:0; right: 0;
  }
}

/* medium */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #idioma {
    height: 7vh;
    font-size: .8em;
  }
  #logo {
    top: 6vh; bottom: 0;
    left:0; right: 0;
  }

 }

/* large */
 @media only screen and (min-width: 64.063em) and (max-width: 90em) {
  #idioma {
    height: 3vh;
    font-size: 1em;
  }
  #logo {
    top: 4vh; bottom: 0;
    left:0; right: 0;
  }
 }

/* xlarge */
@media only screen and (min-width: 90.063em) {
    #idioma {
    height: 3vh;
    font-size: 1.5em;

  }
  #logo {
    top: 4vh; bottom: 0;
    left:0; right: 0;
  }
}

#logo
{ width: 100%;
  height: 80%;
  position: absolute;
}

.logoimg {
  padding: 0;
  margin: 0;
}

/* ANIMACIONES */

/* ------- Logo small screen -------*/

/* ------- Logo small screen portrait -------*/

@media screen and (max-width: 40em) and (orientation: portrait) {
  #completo
  { 
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo
{
  0% {-webkit-transform: translate(0vw,31vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,31vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,1vh) scale(.7); opacity: 100%;}
}
}

/* ------- Logo small screen landscape -------*/

@media screen and (max-width: 40em) and (orientation: landscape) {
  #completo
  { 
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: completo;
 }

  @-webkit-keyframes completo
{
  0% {-webkit-transform: translate(0vw,10vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,31vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-6vh) scale(.35); opacity: 100%;}
}
}

/* ------- Logo large & medium screens ------- */

#brujula
{ 
  -webkit-animation-duration: 5.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: first;

 }

/* ------- Brujula medium screen landscape ------- */

@media only screen and (min-width: 40.063em) and (max-width: 50em) and (orientation: landscape) { 
  @-webkit-keyframes first 
{
  0% {-webkit-transform: translate(-17vw,41vh) scale(0) rotate(580deg); opacity: 0%;}
  50% {-webkit-transform: translate(-17vw,41vh) scale(1) rotate(0deg); opacity: 100%;}
  65%, 75%, 85%, 90% {-webkit-transform: translate(1vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(-16vw,1vh) scale(.5); opacity: 100%;}
}
  }

/* ------- Brujula medium screen landscape iPhone6 ------- */

@media only screen and (min-width: 50.063em) and (max-width: 64em) and (orientation: landscape) { 
  @-webkit-keyframes first 
{
  0% {-webkit-transform: translate(-17vw,41vh) scale(0) rotate(580deg); opacity: 0%;}
  50% {-webkit-transform: translate(-17vw,41vh) scale(1) rotate(0deg); opacity: 100%;}
  65%, 75%, 85%, 90% {-webkit-transform: translate(1vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(-12.5vw,1vh) scale(.5); opacity: 100%;}
}
  }

/* ------- Brujula medium screen portrait ------- */

@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) { 
  @-webkit-keyframes first 
{
  0% {-webkit-transform: translate(-15.5vw,41vh) scale(0) rotate(580deg); opacity: 0%;}
  50% {-webkit-transform: translate(-15.5vw,41vh) scale(1) rotate(0deg); opacity: 100%;}
  65%, 75%, 85%, 90% {-webkit-transform: translate(1vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(-16.5vw,1vh) scale(.5); opacity: 100%;}
}
  }

/* ------- Brujula large screen mobile ------- */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  @-webkit-keyframes first 
{
  0% {-webkit-transform: translate(-17vw,41vh) scale(0) rotate(580deg); opacity: 0%;}
  50% {-webkit-transform: translate(-17vw,41vh) scale(1) rotate(0deg); opacity: 100%;}
  65%, 75%, 85%, 90% {-webkit-transform: translate(1vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(-9vw,-4vh) scale(.5); opacity: 100%;}
}
  }

/* ------- Brujula xx-large screen ------- */

@media only screen and (min-width: 90.063em) { 
  @-webkit-keyframes first 
{
  0% {-webkit-transform: translate(-17vw,41vh) scale(0) rotate(580deg); opacity: 0%;}
  50% {-webkit-transform: translate(-17vw,41vh) scale(1) rotate(0deg); opacity: 100%;}
  65%, 75%, 85%, 90% {-webkit-transform: translate(1vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(-7vw,-4vh) scale(.5); opacity: 100%;}
}
  }


#publika
{ 
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 3.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: second;
 }

/* ------- Publika medium screen ------- */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  @-webkit-keyframes second
{
  0% {-webkit-transform: translate(0vw,41vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,41vh) scale(0); opacity: 0%;}
  75%, 85% {-webkit-transform: translate(0vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,1vh) scale(.5); opacity: 100%;}
}
  }

/* ------- Publika large screen ------- */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  @-webkit-keyframes second
{
  0% {-webkit-transform: translate(0vw,41vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,41vh) scale(0); opacity: 0%;}
  75%, 85% {-webkit-transform: translate(0vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-4vh) scale(.5); opacity: 100%;}
}
  }

/* ------- Publika x-large screen ------- */

@media only screen and (min-width: 90.063em) {
  @-webkit-keyframes second
{
  0% {-webkit-transform: translate(0vw,41vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,41vh) scale(0); opacity: 0%;}
  75%, 85% {-webkit-transform: translate(0vw,41vh) scale(1); opacity: 100%;}
  100% {-webkit-transform: translate(0vw,-4vh) scale(.5); opacity: 100%;}
}
  }

/* -------------------------------------  MENU -------------------------------------------*/

/* ------- Menu small screen ------- */

/* ------- Menu small screen portrait ------- */
@media only screen and (max-width: 40em) and (orientation: portrait) { 
#menu {
  padding: 21vh 0vh 0vh 0vh;
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw,1vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,1vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,1vh) scale(1); opacity: 100%;}
}
}

/* ------- Menu small screen landscape ------- */

@media only screen and (max-width: 40em) and (orientation: landscape) { 
#menu {
  padding: 35vh 0vh 0vh 0vh;
  list-style-type: none;
  font-size: 1em;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw,1vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,1vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,1vh) scale(1); opacity: 100%;}
}
}

/* ------- Menu medium screen  ------- */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#menu {
  padding: 51vh 0vh 0vh 0vh;
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 6.5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw,-3vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,-3vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,-3vh) scale(1); opacity: 100%;}
}
}

/* ------- Menu large screen  ------- */
@media only screen and (min-width: 64.063em) { 
#menu {
  list-style-type: none;
  font-size: 1.5em;
  -webkit-animation-delay: 6.5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: menu;
}
@-webkit-keyframes menu
{
  0% {-webkit-transform: translate(0vw,50vh) scale(0); opacity: 0%;}
  50% {-webkit-transform: translate(0vw,50vh) scale(1); opacity: 50%;}
  100% {-webkit-transform: translate(0vw,50vh) scale(1); opacity: 100%;}
}
}

.seccion {
  height: 100%;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  
}

.botones {
  border-radius: 50%;
  background: rgba(209, 215, 223, .9)
}

.menu-item {
  height: 100%;
  overflow: auto;
  color: #E83C2F;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menu-item-back {
  height: 100%;
  overflow: auto;
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.link-back {
  color: #575A5F !important;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.linkc {
  height: 100%;
  width: 100%;
  margin-left: -15px;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.linkc-back {
  color: #575A5F !important;
  height: 100%;
  width: 100%;
  margin-left: -15px;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

a {
  color: #E83C2F !important;
  text-decoration: none !important;
}

a:hover {
    color: #E83C2F;
}

a:visited {
    color: #E83C2F;
}

a:active {
    color: #E83C2F;
}

#id p {
  padding-top: 30vh;
  font-size: 2em;
  color: #000000;
}

.test {
  float: right;
}

/* ------------------- ANIMACION BOTONES ---------------------------*/

.ch-grid li {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0;
}


.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.ch-info-wrap{
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  top: 20px;
  left: 20px;
  background: rgba(209, 215, 223, .9);
  box-shadow: 
    0 0 0 20px rgba(209, 215, 223, .9), 
    inset 0 0 3px rgba(209, 215, 223, .9);

}

.ch-info{
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
    
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ch-info .ch-info-back {
  -webkit-transform: rotate3d(0,1,0,180deg);
  -moz-transform: rotate3d(0,1,0,180deg);
  -o-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
  
  background: #8F909A;
}

.ch-img-1 { 
  background-color: rgba(209, 215, 223, .9);
}

.ch-img-2 { 
  background-color: rgba(209, 215, 223, .9);
}

.ch-img-3 { 
  background-color: rgba(209, 215, 223, .9);
}

.ch-info h3 {
  color: #E83C2F;
/*  letter-spacing: 2px;
  font-size: 1.5em;*/
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 90px;
  display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.ch-info p {
  color: #E83C2F;
  padding: 10px 5px;
  margin: 0 30px;
/*  font-size: 1.5em*/;
  border-top: 1px solid rgba(209, 215, 223, .9);
}

.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(209, 215, 223, .9);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
}

.ch-info p a:hover {
  color: #fff222;
  color: rgba(209, 215, 223, .9));
}

.ch-item:hover .ch-info-wrap {
  box-shadow: 
    0 0 0 0 rgba(255,255,255,0.8), 
    inset 0 0 3px rgba(209, 215, 223, .9);
}

.ch-item:hover .ch-info {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  -o-transform: rotate3d(0,1,0,-180deg);
  -ms-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}

/* ------------------------------ CONTENIDO ----------------------------- */

#nosotros {
  height: 100%;
  padding: 25vh;
  background-color: #00ccff;
}

#servicios {
  height: 100%;
  padding: 20vh;
  background-color: #046315;
}

#servicios a {
  float: right;
}

#clientes {
  height: 100%;
  padding: 25vh;
  background-color: #00565c;
}

#comunidad {
  height: 100%;
  padding: 25vh;
  background-color: #00cc66;
}